.Sidenavbar{
    width: 250px;
    background: linear-gradient(101deg,rgb(0, 0, 0) -9%, rgba(98, 97, 97, 0.08) 24.55%, #000000 78.42% );
    box-shadow: -26px -6px 57px -9px #000000, inset 0px -1px 0px rgba(159 ,139 ,139 , 0.48);
    border-radius: 0px;transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #F9F9F9;
    display: flex;
    height: 100%;
    margin-right: 30px;
    flex-direction: column;
    .Sidenavbar-top{
        flex:1;
        display: flex;
        flex-direction: column;
        height:fit-content;
        transform: matrix(-1, 0, 0, 1, 0, 0);

        .sidenavbar-top-profile{
            display:flex;
            align-items:center;
            justify-content:center;
            padding: 15px;
            flex-direction: column;
            .profile-logo{
                background: #455A64;
                width:30px;
                height:30px;
                border-radius: 100%;
                color: white;
                display: flex;
                align-items:center;
                justify-content:center;
            }
            .name{
                display: flex;
                flex:1;
                margin-top: 10px;
                color: #b3afaf;
                .arrow-down-icon{
                    margin-top: 7px;
                    margin-left:10px;
                    font-size: 10px;
                }
                &:hover{
                    color:white;
                    cursor: pointer;
                }
            }

        }

        .sidenavbar-top-search{
            padding:15px; 
            .search-box{
                display: flex;
                align-items: center;
                background: #2D2D2D;
                padding: 8px 10px;
                border-radius: 50px;
                color:#B5B5B5;
                .icon{
                    font-size: 12px;
                    color:#B5B5B5;
                }
                input{
                    background-color:#2d2d2d00;
                    color:#B5B5B5;
                    border:0;
                    font-weight: bold;
                    &:focus-visible{
                        outline: none;
                    }
                }
                
            }
        
        }

        .sidenavbar-top-create-note{
            flex:1;
            display: flex;
            justify-content: left;
            margin:20px 0 0 20px;
            .plus-icon{
                margin-right:30px;
                background-color:#0599de63;
                padding: 5px 5px 5px 5px;
                border-radius: 100%;
                font-size: 30px;
                transition: all ;
            }
            
            .name{
                transition: all ;
                color:grey;
            }

            &:hover{
                cursor:pointer;
                .plus-icon{
                    transition-duration: 0.4s;
                    background-color: #0598de;
                }
                
                .name{
                    transition-duration: 0.4s;
                    color:white;
                }
            }

            .name{
                margin-top: 10px;
            }
        }
    }
    
    .sidenavbar-mid{
        transform: matrix(-1, 0, 0, 1, 0, 0);
        margin-top: 50px;
        display: flex;
        .sidenavbar-mid-notes-list{
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            height:fit-content;
            color:grey;
            .sidenavbar-mid-notes-list-note{
                a{
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    color:inherit;
                    .arrow-down-icon{
                        margin-right: 10px;
                        font-size: 13px;
                        margin-top: 3px;
                    }
                    .star-icon, .note-icon,.faBook{
                        margin-right: 10px;
                        margin-top:2px;
                    }
                    .name{
                        height:fit-content;
                    }
                    .tag-icon{
                        font-size: 12px;
                        margin-top: 6px;
                    }
                    &:hover{
                        color:white;
                        cursor: pointer;
                    }
                    &:active{
                        color:white;
                        cursor:default;                    
                    }
                }
            }
        }
        .sidenavbar-mid-notes-list-all-notes,.sidenavbar-mid-notes-list-notebook{
            margin-top:25px;
        }
        .sidenavbar-mid-notes-list-all-notes{
            margin-left:18px;
        }

    }
}